*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "sf-pro-display";
  src: url("../fonts/AnyConv.com__SFPRODISPLAYREGULAR.woff2") format("woff2"),
    url("../fonts/AnyConv.com__SFPRODISPLAYREGULAR.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "sf-pro-display";
  src: url("../fonts/AnyConv.com__SFPRODISPLAYBOLD.woff2") format("woff2"),
    url("../fonts/AnyConv.com__SFPRODISPLAYBOLD.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "spacegreycyrillic";
  src: url("../fonts/AnyConv.com__spaceagecyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/AnyConv.com__spaceagecyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
body {
  font-family: "sf-pro-display";
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
.container {
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.title {
  font-family: "spacegreycyrillic";
  padding: 100px 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
}
.button{
  text-transform: uppercase;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 45px;
 
}
.header {
  background-image: url(../img/header_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.header_inner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.header_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0 30px;
}
.menu_list{
  display: flex;
}
.menu_item{
  margin-right: 30px;
}
.menu_link{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  transition: color 0.5s;
}
.menu_link:hover {
  color: #cb0e0e;
}
.phone {
  font-size: 24px;
  line-height: 29px;
  margin-left: auto;
}
.login {
  margin-left: 22px;
  margin-right: 134px;
}
.header_content{
  min-width: 600px;
}
.header_title {
  font-family: "spacegreycyrillic";
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}
.header_title span {
  font-size: 110px;
}
.header_text {
  font-size: 22px;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: inline;
}
.header_text + .header_text {
  margin-left: 7%;
}
.header_btn{
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #fff;
  padding: 15px 10px 16px;
  margin-top: 50px;
}
.header_desc {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 5%;
}
.header_desc-text {
  width: 165px;
  font-size: 14px;
  line-height: 17px;
  margin-left: 72px;
}
.header_desc-text + .header_desc-text {
  margin-right: 35px;
}

.about {
  background-image: url(../img/bg_2.jpg);
  border-style: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.about_item:nth-child(odd) {
  flex-direction: row-reverse;
}
.about_img {
  max-width: 100%;
}
.about_content {
  width: 600px;
}
.about_content-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 5px;
}
.about_content-subtitle {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #036cca;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.about_content-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.about_content-text p {
  width: 165px;
}
.about_table {
  margin-bottom: 50px;
}
.about_table-caption {
  caption-side: bottom;
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
}
.about_table-tr {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}
.about_table-tr + .about_table-tr {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
}
.about_table-td {
  padding: 10px 30px 10px 0;
}
.about_table-td span {
  font-size: 14px;
  line-height: 17px;
  display: block;
}
.how_to {
  background-image: url(../img/howto_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 100px;
}
.how_to-box {
  text-align: center;
}
.how_to-box circle,
.how_to-box text,
.how_to-box foreignObject {
  transition: all 0.5s;
  cursor: pointer;
}
.how_to-box g:hover circle{
  r: 20px;
  fill: #036cca;
}
.how_to-box g:hover text{
  fill: #036cca;
  font-size: 28px;
}
foreignObject {
  text-align: left;
}
.how_to-box g:hover foreignObject {
  color: #036cca;
  font-size: 22px;
}
.to-book {
  background-image: url(../img/to_book.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
}
.to-book_inner {
  display: flex;
  justify-content: space-between;
}
.to-book-text {
  width: 165px;
  font-size: 14px;
  line-height: 17px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 62px;
}
.to-book-text + .to-book-text{
  margin-right: 0;
  margin-right: 0;
  margin-left: 52px;
}
.info{
    background-image: url(../img/offer.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.special-offer_inner{
    display: flex;
    justify-content: space-between;
   
}
.special-offer_item{
    width: 500px;
   
}
.special-offer_item-box{
    text-align: center;
    border: 1px solid #fff;
    padding: 40px 75px;
    margin-bottom: 25px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.special-offer_item-text{
    font-size: 24px;
    line-height: 29px;
    width: 236px;
    margin: 0 auto;
}
.special-offer_item-text span{
    color:#cb0e0e;
}
.special-offer_oldprice{
  text-align: right;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 16px;
  position: relative;
}
.special-offer_oldprice::before{
  content: '';
  position: absolute;
  width: 68px;
  height: 1px;
  background-color: #cb0e0e;
  top: 7px;
  right: 0;
  transform: rotate(15deg);

}
.special-offer_newprice{
  font-size: 48px;
  line-height: 57px;
}
.special-offer_btn{
  width: 100%;
}
.services{
  padding-bottom: 200px;
}
.special-services_inner{
  display: flex;
  justify-content: space-between;
}
.services_box-list{
  width: 620px;
  margin-right: 80px;

}
.services_box-title{
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 25px;
}
.services_list{
  list-style: none;
  margin-bottom: 25px;
}
.services-list_item{
  font-size: 24px;
  font-weight: 400;
  line-height: 28.64px;
  padding-left: 36px;
  position: relative;
  
}
.services-list_item::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  left:0;
  top: 2px;
}
.services-list_item:last-child{
  margin-bottom: 25px;
}
.services_desc{
  font-size: 12px;
  line-height: 14px;
}
.special-offer_btn-first{
  margin-bottom: 49px;
  position: relative;
}
.special-offer_btn-first::before{
  content: '';
  position: absolute;
  right: 0;
  bottom: 42px;
  background-image: url(../img/spaceman.png);
  width: 192px;
  height: 150px;
}
.slider{
  text-align: center;
}
.slider_inner{
  margin-bottom: 50px;
  border: 1px solid #fff;
  padding: 100px 0;
}
.slider-desc{
  font-family: "spacegreycyrillic";
  padding: 100px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
.slider_box-img{
  margin: 0 auto;

}
.slider_arrow{
  cursor: pointer;
  position: absolute;
  top:50%;
  z-index: 5;
}
.slider_arrow-left{
  left: 75px;
}
.slider_arrow-right{
  right: 75px;
}
.contacts{
  background-image: url(../img/contacts_bg.jpg);
}
.contacts_inner{
  display: flex;
  justify-content: space-between;
}
.contacts_title{
  margin-bottom: 46px;
}
.contacts_box{
  width: 500px;
}
.contacts_box-text{
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 80px;
}
.contacts-form-input{
  display: flex;
  background-color: #010203;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 80px;
  width: 480px;
  color: #fff;
  font-family: "sf-pro-display";
  font-size: 14px;
  line-height: 17px;
  padding: 20px 0;
}
.contacts-form-input:last-child{
  margin-bottom: 100px;
  width: 100%;
}
.contacts-form-input::placeholder{
  color: #fff;
  font-family: "sf-pro-display";
  font-size: 14px;
  line-height: 17px;
  padding: 20px 0;
}
.contacts_btn{
  margin-bottom: 70px;
  width: 100%;
}
.contacts_guarantees{
  width: 500px;
}
.contacts_guarantees-text{
  font-size: 24px;
  line-height: 29px;
  line-height: 120%;
}
.contacts_guarantees-img{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 40px;
}
.footer{
  background-image: url(../img/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 100px 0 150px;
}
.footer_inner{
  display: flex;
  justify-content: flex-end;
}
.footer_text{
  width: 165px;
  margin-right: 50px;
}
.footer_text p + p{
  margin-top: 50px;
}
.footer_menu{
  list-style: none;
  margin-right: 95px;
  width: 120px;
}
.footer_menu_item,
.footer_links_item{
  margin-bottom: 20px;
}
.footer_links{
  width: 165px;
  list-style: none;
}
.footer_menu_link{
  text-transform: uppercase;
  transition: color .5s;
}
.footer_links_link{
  text-transform: uppercase;
  transition: color .5s;
}
.footer_links_link:hover,
.footer_menu_link:hover{
  color: #cb0e0e;
}